.featured {
  height: 76vh;
}

.vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}
.horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 20%, transparent 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 100px;
}

.name {
  font-size: 60px;
  font-weight: bold;
  width: 100%;
  max-width: 50%;
}

.info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.points,
.year,
.seasons {
  display: inline-block;
}

.points {
  color: #46d369;
  margin-right: 15px;
}

.year {
  margin-right: 15px;
}

.description {
  width: 100%;
  max-width: 40vw;
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.buttons {
  margin-top: 25px;
}

.watchbutton,
.mylistbutton {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  opacity: 1;
  transition: all 0.3s ease;
}

.watchbutton:hover,
.mylistbutton:hover {
  opacity: 0.7;
}

.watchbutton {
  margin-right: 15px;
  background-color: #fff;
  color: #000;
}

.mylistbutton {
  background-color: #333;
  color: #fff;
}

.genres {
  margin-top: 15px;
  font-size: 18px;
  color: #999;
}

@media (max-width: 768px) {
  .featured {
    height: 80vh;
  }

  .horizontal {
    padding-bottom: 0px;
  }

  .name {
    max-width: 100%;
    font-size: 48px;
  }

  .info {
    font-size: 16px;
  }

  .description {
    max-width: 70vw;
    font-size: 18px;
  }

  .watchbutton,
  .mylistbutton {
    font-size: 16px;
  }

  .genres {
    font-size: 14px;
  }
}
